

.main-header {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    height: calc(var(--index) * 1);
    bottom: calc(var(--index) * -0.5);
    z-index: 100;
    transform: scaleX(1.5);
    width: 100%;
    background: linear-gradient(0deg, rgb(18 14 14) 87%, rgb(0 0 0 / 1) 100%);
    background-size: cover;
    filter: blur(6px);
    -webkit-backdrop-filter: blur(1.5);
    background-repeat: no-repeat;
    background-position: center;
  }
  .layers {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative;
    .layer {
      height: 100%;
      width: 100%;
      background-size: cover;
      background-position: center;
      position: absolute;
      z-index: 2;
      transition: var(--transition);
    }
    .layer__base {
      background-image: url("../../../assets/png/stayBackgroundPartTwo.png");
      background-position: 0 calc(var(--index)/15);
      background-repeat: no-repeat;
      z-index: 0;
    }
    .layer__middle {
      background-image: url("../../../assets/png/strayFrontSide.png");
      background-size: auto;
      background-repeat: no-repeat;
      bottom: 0;
      //transform: translateY(calc(var(--index)*3.8));
    }
    .layer__header {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      will-change: transform;
      font-weight: 900;
      padding-bottom: calc(var(--index) * 10 );
      transition: var(--transition);
      z-index: 1;
      .layer__caption {
        font-size: calc(var(--index) * 5 );
        letter-spacing: calc(var(--index)/2.5);
        text-shadow: 0 0 20px #ff681a;
      }
      .layer__tittle {
        font-size: calc(var(--index)/1.25);
        font-weight: 600;
      }
    }

  }
}
